{% extends "base.html" %} 

{% block title %} Logged In | Account Settings {% endblock %}

{% block primary_nav %}  
	<ul> 
		<li class="current"> <a href="/" > ACCOUNT </a> | </li> 
		<li> <a href="/leaves/"> LEAVES </a> | </li>
		<li> <a href="/payroll/"> PAYROLL </a> </li>
	</ul> 
{% endblock %}

{% block side_bar %}
	<ul> 
		<li class="current"> <a href="/accounts/" > Personal Info </a> </li> 
		<li> <a href="/accounts/academic/"> Academic Qualifications </a> </li> 
		<li> <a href="/accounts/next_of_kin/"> Next Of Kin </a> </li> 
		<li> <a href="/accounts/work_permit/"> Work Permit </a> </li> 
		<li> <a href="/accounts/dependants/"> Dependants </a></li>
	</ul>
{% endblock %}

{% block content %}
	<h3> You have been successfuly logged into the system. </h3>  
{% endblock %}