{% extends "base.html" %} 

{% block title %} Logged In | Account Settings {% endblock %}

{% block content %}
	<span class="alert-message success"> You have been successfuly logged into the system. </span>  
{% endblock %}

{% block primary_nav %}  
	<ul> 
		<li class="current"> <a href="/" > My Account </a> </li> 
		<li> <a href="/leaves/"> Leaves </a> </li>
		<li> <a href="/payroll/"> Payroll </a> </li>
	</ul> 
{% endblock %}

{% block side_bar %}
	<ul> 
		<li class="current"> <a href="/accounts/" > Personal Info </a> </li> 
		<li> <a href="/accounts/academic/"> Academic Qualifications </a> </li> 
		<li> <a href="/accounts/next_of_kin/"> Next Of Kin </a> </li> 
		<li> <a href="/accounts/work_permit/"> Work Permit </a> </li> 
		<li> <a href="/accounts/dependants/"> Dependants </a></li>
	</ul>
{% endblock %}

