{% extends "base.html" %} 

{% block title %} Log-out Sucessfull {% endblock %}

{% block content %}
	<p> You have been successfuly logged out of the system. </p> 
{% endblock %}

{% block primary_nav %}  
	<ul> 
		<li> <a href="/"> Home </a> </li> 
		<li> <a href="/help/"> Assistance? </a> </li>
		<li> <a href="/contacts/"> Contact Us </a> </li>
	</ul> 
{% endblock %}

{% block side_bar %}
	<ul> 
		<li> <a href="/login/"> Login </a> </li> 
		<li> <a href="/register/"> Register </a> </li> 
		<li> <a href="/admin/"> Admin Site </a> </li> 
		<!--  <li> <a href="/leaves/summary/">Summary </a></li> --> 
	</ul>
{% endblock %}