{% extends "base.html" %} 

{% block title %} Sucessfully logged out {% endblock %}

{% block primary_nav %}  
	<ul> 
		<li> <a href="/"> HOME </a> | </li> 
		<li> <a href="/help/"> HELP </a> | </li>
		<li> <a href="/contacts/"> CONTACT US </a> </li>
	</ul> 
{% endblock %}

{% block side_bar %}
	<ul> 
		<li> <a href="/login/"> Login </a> </li> 
		<li> <a href="/register/"> Register </a> </li> 
		<li> <a href="/admin/"> Admin Site </a> </li> 
		<!--  <li> <a href="/leaves/summary/">Summary </a></li> --> 
	</ul>
{% endblock %}

{% block content %}
	<h3> You have been successfuly logged out of the system. </h3> 
{% endblock %}