{% extends "base.html" %} 

{% block title %} Login Form {% endblock %}

{% block content %}
	<table class="plain" cellpadding="15">
		<tr>
			<td>
			<table class="loginform">
				<tr>
					<td><img src="/site_media/images/nuvola/22x22/actions/encrypted.png"></td>
					<td class="colhead">Login to your account</td>
				</tr>
				<tr>
					<td colspan="2" align="center">Please login using your email address and password</td>
				</tr>
				<tr>
					<form method=post name="s_login" action="">{% csrf_token %} 
					<td>Email Address:</td>
					<td><input type="text" name="username" value="" maxlength="50" size="30" tabindex="1"></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password" maxlength="50" size="15" tabindex="2"></td>
				</tr>
				<tr>
					<td>Remember:</td>
					<td><input type="checkbox" name="remember_me" value="y" checked></td>
				</tr>
				<tr>
					<td colspan="2" align="center"> <input type="submit" value="Login" tabindex="3"> </td>
					</form>
				</tr>
				
				<tr>
					<td colspan="2"><img src="/site_media/images/nuvola/22x22/apps/kuser.png"><a href="/signup/">Signup for a new account</a></td>
				</tr>
				
				<tr>
					<td colspan="2"><img src="/site_media/images/nuvola/22x22/apps/kuser.png"><a href="/password/recover/">Recover your passwod</a></td>
				</tr>
				
			</table>
			</td>
			<td valign="center" width="128"><img src="/site_media/images/nuvola/128x128/actions/lock.png"></td> 
        </tr>
	</table>
<script language='JavaScript'>
	document.s_login.email_address.focus();
</script>
{% endblock %}