{% extends "base.html" %} 

{% block title %} Leave applications || Period: {{ period}} {% endblock %} 

{% block links %} 
	<link rel="stylesheet" type="text/css" media="all" href="/site_media/scripts/js/jquery-ui.custom/development-bundle/themes/base/jquery.ui.all.css" />
	<script language="JavaScript" src="/site_media/scripts/js/jquery-ui.custom/development-bundle/jquery-1.4.2.js"> </script>
	<script language="javaScript" src="/site_media/scripts/js/jquery-ui.custom/js/jquery-ui-1.8.4.custom.min.js"> </script>
	<script type="text/javascript">
		$(function() {
			$("#id_start_date").datepicker();
			$("#id_end_date").datepicker();	
		});
	</script>

{% endblock %}

{% block content %}
{% if form %}   
{% if form.errors %}
        <p style="color:red;">
            Please correct the error {{ form.errors|pluralize}} below.
        </p>
{% endif %}
<form method="post" action=""> 
{% csrf_token %}
	<table> 
	{{ form.as_table }} 
	<tr> <td> </td> <td> <input type="submit" value="Apply" /> </td> </tr>
	</table> 
</form> 
{% else %} 
    <p> Unable to create leave application form </p> 
{% endif %} 
{% endblock %}

{% block primary_nav %}  
	<ul> 
		<li> <a href="/accounts/"> Account </a> </li> 
		<li class="current"> <a href="/leaves/"> Leaves </a> </li>
			<ol> 
				<li> <a href="/leaves/"> Summary </a> </li> 
				<li class="current"> <a href="/leaves/details/"> Details </a> </li> 
				<li> <a href="/leaves/apply/"> Apply </a> </li> 
			</ol>
		<li> <a href="/payroll/"> Payroll </a> </li>
	</ul> 
{% endblock %}

{% block side_bar %}
	<ul> 
		<li > <a href="/leaves/"> List </a> </li> 
		<li class="current">  Apply </li> 
		<!-- <li> <a href="/logout/"> Logout </a> </li> 
		<li> <a href="/leaves/summary/">Summary </a></li> --> 
	</ul>
{% endblock %}

