{% extends "base.html" %} 

{% block title %} Leaves {% endblock %}

{% block content %}
{% if periods %}  
	<table> 
	<tr> <td> &nbsp; </td> <td> <h4> Select a period within which to view leaves applied. </h4> </td> </tr> 
	{% for period in periods %} 
		<tr> <td> {{ period.id }}) </td> <td> <a href="/leaves/period/{{ period.id}}/"> {{ period }} </a> </td>  </tr> 
	{% endfor %} 
	<tr> <td> </td> <td> </td>  </tr> 
	</table> 
{% endif %} 
{% endblock %}

{% block primary_nav %}  
	<ul> 
		<li> <a href="/accounts/"> Account </a> </li> 
		<li class="current"> <a href="/leaves/"> Leaves </a></li>
			<ol>
				<li> <a href="/leaves/"> Summary </a> </li> 
				<li class="current"> <a href="/leaves/details/"> Details </a> </li> 
				<li> <a href="/leaves/apply/"> Apply </a> </li> 
				<!-- <li> <a href="/leaves/summary/">Summary </a></li> --> 
			</ol>
		<li> <a href="/payroll/"> Payroll </a> </li>
	</ul> 
{% endblock %}

{% block side_bar %}
	<ul> 
		<li> <a href="/leaves/"> List </a> </li> 
		<li> <a href="/leaves/apply/"> Apply </a> </li> 
		<!-- <li> <a href="/logout/"> Logout </a> </li> 
		<li> <a href="/leaves/summary/">Summary </a></li> --> 
	</ul>
{% endblock %}
