{% extends "base.html" %} 

{% block title %} Leave applications || Period: {{ period}} {% endblock %}

{% block content %}
{% if leave_applications %}   
	<table> <h4> <span class="alert-message block"> LEAVE APPLICATIONS FOR PERIOD {{ period }} </span> </h4>
	<tr> <td> <strong> App. ID. </strong> </td> <td> <strong> Application date </strong> </td> 
	<td> <strong> Start Date </strong> </td> <td> <strong> Days </strong> </td> 
	<td> <strong> Remarks </strong> </td> <td> <strong> Status </strong> </td> </tr> 
	{% for application in leave_applications %} 
		<tr> <td> {{ application.id }}) </td> 
		<td> <a href="/leaves/{{application.id}}/details/" > {{ application.application_date|date:"jS M, Y"}} </a> </td> 
		<td> {{ application.start_date|date:"jS M, Y" }} </td>  <td> {{ application.days_requested}} </td> 
		<td> {{ application.description}} </td> <td> {{ application.status}} </td> </tr> 
	{% endfor %} 
	</table> 
{% else %} 
    <p> <span class="alert-message error"> Sorry, there are no leave applications made within this period. </span> </p> 
{% endif %} 
{% endblock %}

{% block primary_nav %}  
	<ul> 
		<li> <a href="/accounts/"> Account </a> </li> 
		<li class="current"> <a href="/leaves/"> Leaves </a> </li>
			<ol> 
				<li> <a href="/leaves/"> Summary </a> </li> 
				<li class="current"> <a href="/leaves/details/"> Details </a> </li> 
				<li> <a href="/leaves/apply/"> Apply </a> </li> 
			</ol>
		<li> <a href="/payroll/"> Payroll </a> </li>
	</ul> 
{% endblock %}

{% block side_bar %}
	<ul> 
		<li class="current"> <a href="/leaves/"> List </a> </li> 
		<li> <a href="/leaves/apply/"> Apply </a> </li> 
		<!-- <li> <a href="/logout/"> Logout </a> </li> 
		<li> <a href="/leaves/summary/">Summary </a></li> --> 
	</ul>
{% endblock %}
