<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head> 
    <title>  H.R.M.S :: {% block title %} Home Page {% endblock %} </title> 
	<!-- Framework CSS -->
	<link rel="stylesheet" href="/site_media/styles/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/site_media/styles/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="/site_media/styles/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]]-->
	<link rel="stylesheet" type="text/css" href="/site_media/styles/style.css" /> 
	{% block links %} {% endblock %}
</head> 
<body> 
<table align="center" width="780" cellpadding="0" cellspacing="0" border="0" class="plain"> 
    <tr> 
	    <td width="20" bgcolor="#3399CC"><img src="/site_media/images/curves/top_left.gif" width="20" height="42"></td>
		<td width="740" bgcolor="#66CC33"><a href="/"> Human Resources Management System </a></td>
		<td width="20" bgcolor="#3399CC"><img src="/site_media/images/curves/top_right.gif" width="20" height="42"></td>
	</tr>
	<tr>
		<td bgcolor="#99CCFF" colspan="3"> 
		{% if user.is_authenticated %}
		<table class='plain' width='100%'>
			<tr> 
				<td><a href="/">Home</a> | </td> 
				<td align="right">Welcome {{ user.first_name}}, {{ user.last_name}} [ <a href="/logout/"> Logout </a> ] </td>
				{% if user.is_staff %}
				<td align="right"> | Visit the [ <a href="/admin/"> Admin Panel </a> ] </td>
				{% endif %}
			</tr> 
		</table>
		{% else %} 
		<table class="plain" cellspacing="0" cellpadding="2">
			<tr bgcolor="#99CCFF">
				<td><a href="/">Home</a></td>
				<td> | </td>
				<td><a href='/password/recover/'>Recover your password</a></td>
			</tr>
		</table>
		{% endif %} 
		</td>
	</tr>			
	
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	<tr>
		<td colspan="3">
			<table cellspacing="0">
				<tr> 				
					<td width="630" valign="top"> 
					{% block content %}	
						<p> Am testing the UI of the HRMS right now! </p> 
					{% endblock %}
					</td>
					
					<td width="150">  
					{% block primary_nav %}
					<ul> 
						<li> <a href="/login/"> Login </a> </li>
						<li> <a href="/admin/"> Admin Panel </a>  </li> 
						<li> <a href="/help/"> Assistance? </a> </li>
						<li> <a href="/contacts/"> Contact Us </a> </li>
					</ul> 
					{% endblock %}
					</td> 
					
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td width="20" bgcolor='#3399CC'><img src="/site_media/images/curves/white_bottom_left.gif" width="20" height="20"></td>
		<td width="780" bgcolor="#ffffff" align="center"> HRMS 2012, All Rights Reserved. </td>
		<td width="20" bgcolor="#3399CC"><img src="/site_media/images/curves/white_bottom_right.gif" width="20" height="20"></td>
	</tr>
</table>	
</body> 
</html>