<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head> 
    <title>  H.R.M.S :: {% block title %} Home Page {% endblock %} </title> 
	<!-- Framework CSS -->
	<link rel="stylesheet" href="../../blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="../../blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]]-->
	<link rel="stylesheet" type="text/css" href="/site_media/styles/style.css" /> 
	{% block links %} {% endblock %}
</head> 
<body> 
<div id="container"> 
    <div id="header"> 
	    <h3> Human Resources Management System </h3>
		<div id="primary-navigation"> 
			{% block primary_nav %}
			<ul> 
				<li> <a href="/"> HOME </a> | </li> 
				<li> <a href="/help/"> HELP </a> | </li>
				<li> <a href="/contacts/"> CONTACT US </a> </li>
			</ul> 
			{% endblock %}
		</div> 
	</div> 
	
    <div id="main"> 
	    <div id="side-bar"> 
			{% block side_bar %}
		   <ul> 
		       <li> <a href="/login/"> Login </a> </li> 
			   <li> <a href="/register/"> Register </a> </li> 
			   <li> <a href="/admin/"> Admin Site </a> </li> 
			   <!-- <li> <a href="/leaves/summary/">Summary </a></li> --> 
		   </ul>
			{% endblock %}
		</div> 
		
		<div id="content"> 
			{% if user.is_authenticated %}
				<p> Welcome, {{ user.first_name}}, {{ user.last_name}}. 
				[ <a href="/logout/"> Logout </a> ] <br /> 
				+++++++++++++++++++++++++++++++++++ </p> 
				
			{% endif %} 
			
			{% block content %}
			{% if form.errors %}
				<p>Your username and password didn't match. Please try again.</p>
			{% endif %}

			<table> <tr> <td> Hello, My name </td> <td> is Martin Chiteri. </td> <td> I live in Roysambu, somewhere along Thika Road </td> </tr> 
					<tr> <td> Hello, My name </td> <td> is Antony Gatura. </td> <td> I live in Zimermann, somewhere along Thika Road </td></tr> 
			</table> 
			{% endblock %}
		</div> 
		
	</div>	
	
	<div id="Footer"> 
		<p> This site is under heavy development. </p> 
	</div> 
</div> 
</body> 
</html>